.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height:100vh;
    border: 2px solid black;
    
    margin-left: -1vw;
}


p{
    font-size: 1.3rem;
}

.showbox{
    margin-top: 10vh;
    padding: 10px;
}